*.DS_Store
*.log
*.zip
.idea
.sass-cache/
/node_modules
/public/build
/public/hot
/public/images
/public/storage
/resources/images
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.vscode
